body {  
    margin: 0;
    background: linear-gradient(to top,  #e5e5e5,#d9d9d9);
    
}
header {
    background-image: url(./pic/b1.png);
    background-repeat: repeat-x;
    height: 20px;
    
}
footer {
    padding-top: 186px;
    background-image: url(./pic/b2.png);
    background-repeat: repeat-x;
    background-position: bottom;  
}
div > img {
    position: absolute;   
    width: 200px;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lost {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #525252;
    position: absolute;
    left: 49%;
    top: 14%;
    transform: translate(-14%,-49%);
}
div > a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #525252;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -86%);
}
.error {
    position: absolut;
    font-size: 800px;
    /* height: 0; */
    display: inline-block;
    /* margin: 0; */
    /* bottom: 0; */
    color:#d9d9d9;
    /* padding-left: 400px;  */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* text-align: center; */
    height: 100vh;
    width: 800px;
}
.background {
    /* height: 100vh; */
    width: 100%; 
    display: inline-block;
    position: relative;
    
}








